@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&display=swap');

.title {
    font-size: 32px;
    line-height: 37px;
    color: rgba(41, 50, 100, 1);
    margin-bottom: 11px;
}

.description {
    font-family: "Inter";
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    color: rgba(41, 50, 100, 1);
}

.btn--intro {
    flex-shrink: 0;
    font-family: "Inter";
    font-size: 16px;
    line-height: 19px;
    padding: 16px 28px;
    color: rgba(245, 247, 251, 1);
    background-color: rgba(77, 91, 158, 1);
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
}

.btn--intro:hover {
    background-color: rgba(97, 111, 178, 1);
}