* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla";
    font-weight: 700;
}

.App {
    max-width: 550px;
    min-height: 550px;
    background:
        no-repeat top right / 30% url("./images/blob-top-right.png"),
        no-repeat bottom left / 25% url("./images/blob-bottom-left.png");
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 1px;
    border-radius: 15px;
    padding: 20px;
}